body {
    margin: 0;
}

header {
    position: fixed top;
    width: 100%;
    height: 84px;
    display: flex; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 75%);
    border-bottom: 2px solid rgb(187, 187, 187);
}

.content {
    width: 1480px;
    margin: auto;
}
